<!doctype html>
<html>
  <head>
    <title>Fwitter</title>
  </head>
  <body>

    <div class="container">
      <h1>Welcome to Fwitter!</h1>
    </div>
    <% if logged_in? %>
      <h2>Welcome, <%= current_user.username %></h2>
      <form class="logout" action="/logout" method="POST">
        <input id="hidden" type="hidden" name="_method" value="delete">
        <button type="submit">Log Out</button><br><br>
      </form>
    <% end %>

    <%= yield %>
  </body>
</html>
